.pagination {
    font-size: 80%;
}

    .pagination a {
        text-decoration: none;
        color: #15B;
    }

    .pagination a, .pagination span {
        font-family: Sans-Serif;
        font-size: 11px;
        border-bottom: #ccc 1px solid;
        border-left: #ccc 1px solid;
        margin: 1px;
        display: inline-block;
        border-top: #ccc 1px solid;
        font-weight: bold;
        border-right: #ccc 1px solid;
        padding: 3px 4px 3px 4px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
    }

    .pagination .current {
        background: #26B;
        color: #fff;
        border: solid 1px #AAE;
    }
